@using FoodZeroWasteMVC.Models.Recipies;
@using Application.Common.Dtos;
@model RecipiesViewModel

@{
    ViewBag.Title = "Przepisy";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<div>
    <h1>Lista Wszystkich Przepisów</h1>
    <a asp-controller="Recipies" asp-action="Create" class="btn btn-dark">Dodaj przepis</a>
    <table>
        <thead>
            <tr>
                <th>Nazwa Przepisu</th>
                <th>Dodaj do ulubionych</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RecipieDto recipie in Model.Recipies)
            {
                <tr>
                    <td>
                        <a asp-route-id="@recipie.Id" asp-controller="Recipies" asp-action="Details">
                            @recipie.Title
                        </a>
                    </td>
                    <td id="@recipie.Id" >
                        @if (Model.FavouriteRecipies.Contains(recipie))
                        {
                            <partial name="_RemoveFavouriteRecipiePartial" model="recipie.Id" />
                        }
                        else
                        {
                            <partial name="_FavouriteRecipiePartial" model="recipie.Id" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.Recipies.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Recipies.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.Recipies.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.Recipies.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>


</div>

@section Scripts
{
    <script>

        function addToFavourites(id) {

            $.ajax({
                url: window.location.origin + "/Recipies/AddToFavourites",
                type: "post",
                data: { 'id': id },
                success: function (result) {
                    let qid = '#' + id;
                    $(qid).html(result);
                }
            });

        }

        function removeFromFavourites(id) {

            $.ajax({
                url: window.location.origin + "/Recipies/RemoveFromFavourites",
                type: "post",
                data: { 'id': id },
                success: function (result) {
                    let qid = '#' + id;
                    $(qid).html(result);
                }
            });

        }

    </script>
}